[Desktop Entry]
Name=Pagume
Exec=Pagume
Icon=io.github.wesenseged.Pagume
Type=Application
Terminal=false
Categories=Utility
StartupWMClass=org.kde.io.github.wesenseged.Pagume

